.box {
    background-color: #FF5555;
    color: white;
    margin: 30px;
    padding: 20px;
    font-family: sans-serif;
  }

  .background-color {
    background-color: #ff8484;
    font-family: sans-serif;
    font-size: 15pt;
  }

  body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #e42b13;
  background-image: linear-gradient(#f1503b, rgb(236, 17, 17))
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.endbox {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.infobody {
    padding: 5px;
    margin: 20px;
}