/* Place your CSS styles in this file */

.box-0 {
    background-color: black;
    color: yellow;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: hidden;
}

.box {
    background-color: black;
    color: yellowgreen;
    font-size: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: greenyellow;
    border-width: 5px 5px 5px 5px;
}

.text {
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}