.box {
    background-color: #eeecec;
    color: rgb(0, 0, 0);
    margin: 30px;
    padding: 20px;
    font-family: sans-serif;
  }

  .background-color {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 15pt;
  }

  body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(54, 53, 53);
}

.active {
  background-color: #23b810;
  background-image: linear-gradient(#22a50b, rgb(10, 126, 10))
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
}

.endbox {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.endbox2 {
  background-color: black;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.infobody {
    padding: 5px;
    margin: 20px;
}

.button {
    border: none;
    background-color: rgb(236, 233, 233);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 15px;
    cursor: pointer;
}